:root {
    --primary-green: #4CAF50; /* A vibrant green */
    --dark-green: #388E3C; /* A darker shade for contrasts or hover effects */
    --light-green: #C8E6C9; /* A light green for backgrounds or accents */
    --error-red: #f44336; /* Keeping the error color as it is essential for UX */
  }
body, html {
    margin: 10px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-green); /* Light background for the whole page */
    font-size: 12px;
  }

.income-container{
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    background-color: white;
    max-width: 800px; /* Ensures container doesn't stretch too much on wider screens */
    
}

.form {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px; /* Gap between form groups */
  }

  
.float-container {
    flex: 1; /* Take up equal space in the row */
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px; /* Add space between label and input */
  }
  
  /* input,
  textarea {
    width: 100%;
  } */

  .list-display{
    width: 90%;
    height: 400px;
  }
  
  /* Table Styles */
  .table-list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-list th, .table-list td {
    text-align: left;
    padding: 8px;
  }
  
  .table-list tr:nth-child(even) {
    background-color: var(--light-green);
  }
  
  thead{
    background-color: #388E3C;
    width: 100%;
    color: white;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .form-floating {
      flex-direction: column;
    }
  
    .btn {
      width: 100%; /* Makes button full width on smaller screens */
      margin-bottom: 10px; /* Adds space between stacked buttons */
    }
  
    .category-container {
      margin: 10px;
      padding: 15px;
    }
  }