:root {
  --primary-green: #4CAF50; /* A vibrant green */
  --dark-green: #388E3C; /* A darker shade for contrasts or hover effects */
  --light-green: #C8E6C9; /* A light green for backgrounds or accents */
  --error-red: #f44336; /* Keeping the error color as it is essential for UX */
}

/* Show it is fixed to the top */

body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #333; */
    background-color: var(--primary-green);
    color: #fff;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .menu-button {
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .user-section {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 20px;
  }
  
  .logout-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .curtain-menu {
    position: fixed;
    top: 0;
    right: -100%; /* Start hidden off-screen */
    width: 300px; /* Adjust based on your preference */
    height: 100%;
    background: #333; /* Menu background color */
    color: white; /* Text color */
    transition: right 0.5s; /* Smooth slide-in effect */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1050;
  }
  
  .curtain-menu.open {
    right: 0; /* Slide in to be fully visible */
  }
  
  .curtain-menu a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
  }
  .close-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  } 